.form {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: large;
    width:500px;
    margin: 0 auto;
}

label {
    width: 100%;
    margin: 25px auto;
}

input {
    width: 495px;
    margin: 25px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: large;
}

input:focus {
    outline: none;
    border: 1px dotted;
    background-color: #dedef0; 
}

button {
    width: 100%;
    margin: 25px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: large;
    color: wheat;
    background-color: rgb(200, 0, 0);
    border-style: none;
    border-radius: 10px;
    line-height: 3ch;
    transition: all 0.3s ease-in;
}

button:focus {
    outline: none;
    border: 2px solid black;
}

button:hover {
    transform: scaleY(1.1);
    background-color: rgb(210, 0, 0)
}

.result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-size: large;
  }
  